<div class="main-contents">

  <h1>MENU</h1>

  <hr>

  <% @esthe_menus.each do |esthe_menu| %>
    <div id="menu-table" class="table-responsive">
      <h3><%= esthe_menu.name %></h3>
      <p class="menu_time_price"><%= esthe_menu.time_frame %>分　　¥<%= esthe_menu.price %></p>
      <br>
      <p><%= simple_format(esthe_menu.description) %></p>
    </div>
    <hr>
  <% end %>

</div>
