<h1>エステメニュー</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Time frame</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @esthe_menus.each do |esthe_menu| %>
        <tr>
          <h3><%= esthe_menu.name %></h3>
          <p><%= esthe_menu.description %></p>
          <td><%= esthe_menu.time_frame * 15 %>分</td>
          <td>¥<%= esthe_menu.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>