<!--
    date 日付
    time_tablesテーブルでselect_dateがdateと同じものでかつ
    time_frameがtime_frame[1]と同じでかつ
    statusがtrueなら　→　○
    falseなら　→　✕
    一致するものがなければ　→　-
-->


<% TimeTable.time_frames.each do |time_frame| %>
  <tr>
    <td><%= time_frame[0] %></td>
    <% (@start_day..@end_day).each do |date| %>
      <td><%= TimeTable.get_vacancy(date, time_frame[1]) %></td>
    <% end %>
  </tr>
<% end %>
