<% TimeTable.time_frames.each do |time_frame| %>
  <tr>
    <td><%= time_frame[0] %></td>
    <% (@start_day..@end_day).each do |date| %>
      <% t = TimeTable.new  %>
      <!-- ロジックだからあとでモデルにうつそう -->
      <% time_tables = TimeTable.where(["select_date = ? and time_frame = ?", date, time_frame[1]]).first %>
      <td><%= vacancy_link(t.get_vacancy(date, time_frame[1]), (time_tables.id if time_tables)) %></td>
    <% end %>
  </tr>
<% end %>
