<div class="main-contents">
  <h1>予約日時選択</h1>

  <br>

  <table id="table" class="table-bordered reserve-calender">
    <thead>
      <tr>
        <th></th>
        <% (@start_day..@end_day).each do |date| %>
          <th><%= l date, format: :custom2 %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "calendar", locals: {start_day: @start_day, end_day: @end_day} %>
    </tbody>
  </table>

  <br>

  <div>
    <p> ○　予約可能な時間帯です。クリックいただくと予約ができます。</p>
    <p> ✕　すでに予約が埋まっているため予約できません。</p>
    <p> ー　予約を受け付けていない時間帯です。</p>
  </div>
</div>

