<div class="main-contents">

  <h1>予約履歴</h1>

  <% if @reservations.nil? %>

    <p>予約履歴はありません。</p>

  <% else %>

  <div class="table-responsive">
    <table id="table" class="table table-condensed">
      <thead>
        <tr>
          <th>日付</th>
          <th>時間</th>
          <th>コース</th>
          <th>ご要望・ご連絡事項</th>
        </tr>
      </thead>
      <tbody>
        <% @reservations.each do |reservation| %>
          <tr>
            <td><%= l reservation.time_table.select_date, format: :custom %></td>
            <td><%= reservation.time_table.time_frame %></td>
            <td><%= reservation.esthe_menu.name %></td>
            <td><%= simple_format(reservation.comment) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
    
  <% end %>

</div>