<div class="main-contents">

  <h1>予約履歴</h1>

  <% if @reservations.nil? %>

    <p>予約履歴はありません。</p>

  <% else %>

  <div class="table-responsive">
    <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>日付</th>
        <th>時間</th>
        <th>コース</th>
      </tr>
    </thead>
      <tbody>
        <% @reservations.each do |reservation| %>
          <tr>
            <td><%= reservation.time_table.select_date %></td>
            <td><%= reservation.time_table.time_frame %></td>
            <td><%= reservation.esthe_menu.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
    
  <% end %>

</div>