<div class="main-contents">

<h1>予約編集</h1>

<%= render 'form', reservation: @reservation %>

<%= link_to 'Show', staff_reservations_path(@reservation) %> |
<%= link_to 'Back', staff_reservations_path %>

</div>
