<div class="main-contents">
  <h1>ACCESS</h1>
  <div id="access-box">
    <h3>エステサロン　Ranunculus（ラナンキュラス）</h3>
    <br>
    <h4>予約受付：03-XXXX-XXXX</h4>
    <br>
    <p>〒150-0044</p>
    <p>渋谷区円山町20-1 新大宗円山ビル11F</p>
    <p><%= @salon.name %><%= @salon.description %></p>     
  </div>

  <div id="map"></div>
</div>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setCenter(new google.maps.LatLng(35.656228, 139.694968));
    handler.getMap().setZoom(15);
  });
</script>