// ---------------------------------------------- toppage

.top-mainview {
  position: relative;
  text-align: center;
  width: 100%;
  .main-logo {
    font-size: 3vw; 
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2.5rem;
    color: #454545;
    animation-duration: 4s;
    position: absolute;
    bottom: 45%;
    margin: 0;
    width: 100%;
    font-size: 6vw;
  }
  .top-salon-img {
    background: image-url('salon.jpg');
    height: 600px;
    margin: 0 auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 5%;
    border-radius: 3rem;
    position: relative;
    vertical-align: middle;
    &:after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    box-shadow: 
      inset 0 0 50px #EFE7E4,
      inset 0 0 50px #EFE7E4,
      inset 0 0 50px #EFE7E4,
      inset 0 0 50px #EFE7E4;
    }
  }
}


.top-page-contents {
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 20%;
  width: 85%;
  border-radius: 3rem;
  background-color: white;
  color: #333333;
  background: rgba(255,255,255,0.8);
  .top-guide {
    padding: 5%;
    text-align: center;
    line-height: 300%;
  }
}

p {
  color: #556565;
}



.reserve-calender {

  tr td {
    padding: 10px;
    text-align: center;
  }
}

#reserve-show {

  td {
    padding-left: 10%;
  }
}

#menu-table {
  padding-left: 8%;
  .menu_time_price {
    font-size: 18px;
    padding-left: 70%;
  }  
}

#access-box {
  margin: 5%;
  h3 {
    font-weight: bold;
    letter-spacing: 3px;
  }
  h4 {
    padding-left: 3vw;
    letter-spacing: 3px;
  }
  p {
    padding-left: 3vw;
  }
}

#map {
  width: 50vw;
  height: 30vw;
  margin: auto; 
}