// ---------------------------------------------- toppage

.top-salon-img {
  background-image: url(salon.jpg);
  height: 600px;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 5%;
  border-radius: 3rem;
  position: relative;

  &:after{
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  box-shadow: 
    inset 0 0 50px #EFE7E4,
    inset 0 0 50px #EFE7E4,
    inset 0 0 50px #EFE7E4,
    inset 0 0 50px #EFE7E4;
  }

  .main-logo {
    font-size: 700%; 
    height: 100%; 
    text-align: center;
    line-height: 600%; 
    font-weight: bold;
    letter-spacing: 2.5rem;
    color: #454545;
    animation-duration: 4s;
  } 
}

.top-page-contents {
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 20%;
  width: 85%;
  border-radius: 3rem;
  background-color: white;
  color: #333333;
  background: rgba(255,255,255,0.8);
  .top-guide {
    padding: 5%;
    text-align: center;
    line-height: 300%;
  }
}

p {
  color: #556565;
}



.reserve-calender {
  th {
    text-align: center;
  }
  tr td {
    padding: 10px;
    text-align: center;
  }
}

#reserve-show {
  th {
    text-align: center;
  }
  td {
    padding-left: 10%;
  }
}