/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * Scssを使うならrequireは使わないため'='を削除
 * require_tree .
 * require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "devise_bootstrap_views";
@import "partials/*";


// ================================================== all

html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url(white_wood.jpg);
  height: 100%;
  background-size: contain;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: 'Rounded Mplus 1c';
  margin-bottom: 60px;
}


// ================================================== navbar

.navbar-inverse .navbar-brand {
  letter-spacing: 0.5rem;
  font-weight: bold;
  color: #ffb6c1;
  font-size: 2.5rem;
  &:hover {
    color: #ffb6c1;
  }
}


// ================================================== header

header {
  text-align: center;
}

.dropmenu{
  *zoom: 1;
  list-style-type: none;
  width: 960px;
  margin: 5px auto 30px;
  padding: 0;
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
  
  .dropmenu-box {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    .header-btn {
      display: block;
      margin: 0;
      padding: 50px 0 11px;
      color: #fff;
      font-size: 14px;
      line-height: 1;
      text-decoration: none;
    }    
  }
}

.dropmenu:before, .dropmenu:after{
  content: "";
  display: table;
}

.dropmenu li a:hover{
  background: #db7093;
}

.header-btn {
  display: inline-block;
  text-decoration: none;
  background: #ffb6c1;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: 1s;
  margin: 0 auto;
  &:hover {
    background: #db7093;
  }
}

.dropmenu {
  display: table;
  text-align: center;
  width: 100%;
}
.dropmenu li {
  display: table-cell;
  vertical-align: middle;
}

.dropmenu li a {
  letter-spacing: 3px;
}


// ================================================== main

.main-contents {
  background: rgba(255,255,255,0.9);
  margin: 5%;
  padding: 5%;
  border-radius: 1rem;
  h1 {
    padding: 2% 5%;
  }
}


// ================================================== footer

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
  padding: 3em 0em;
  p {
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #6F6F6F;
  }
}
