/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * Scssを使うならrequireは使わないため'='を削除
 * require_tree .
 * require_self
 */

// Bootstrap Sass
@import "bootstrap-sprockets";
@import "bootstrap";
// @import 'bootstrap-sass/assets/stylesheets/bootstrap';
// @import 'bootstrap-sass/assets/stylesheets/bootstrap/custom';
@import "font-awesome";
// @import "devise_bootstrap_views";
@import "devise_bootstrap_views";
@import "partials/*"; // glob importing

// http://neos21.hatenablog.com/entry/2017/03/17/000347
// 順序：bootstrap-sprockets → bootstrap

// https://suin.io/544
// 順序：bootstrap-sprockets → bootstrap → devise_bootstrap_views

// ← このコメントの書き方だとコンパイル時に削除される
// コンパイル後も残したいコメントは /*! コメント */ と書く

html {
  height: 100%;
}

body {
  background-image: url(white_wood.jpg);
  height: 100%;
  background-size: contain;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 30px;
}

header {
  text-align: center;
}

footer {
  text-align: center;
  background-color: white;
}

.main-box {

}
