<div class="main-contents">

<h1>エステメニュー編集</h1>

<%= render 'form', esthe_menu: @esthe_menu %>

<%= link_to 'Show', staff_esthe_menus_path(@esthe_menu) %> |
<%= link_to 'Back', staff_esthe_menus_path %>

</div>
