<ul class="dropmenu">
  <li><%= link_to 'TOP', root_path, class: "header-btn" %></li>
  <li><%= link_to 'MENU', user_esthe_menus_path, class: "header-btn" %></li>
  <li><%= link_to 'RESERVATION', new_user_reservation_path, class: "header-btn font-min" %></li>
  <li><%= link_to 'ACCESS', user_access_path, class: "header-btn" %></li>
</ul>
